spring.application.name=ecom


spring.datasource.url=jdbc:h2:mem:
spring.datasource.driver-class-name=
spring.datasource.username=
spring.datasource.password=


spring.h2.console.enabled=true
spring.h2.console.path=/h2-console


spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

spring.jpa.defer-datasource-initialization=true
management.endpoints.web.exposure.include=*